body{
	background-color: #f1d7dc;
	position:relative;
	height: 5000px;
}
nav{
	font-size: 19px;
}
footer{
	background-color: black;
	color:white;
	position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    height: 50px;
   /* margin-bottom: 0px;*/
}
.login{
	width: 400px;
    margin: 100px auto;
}
.login input{
	margin: 5px;
}
.login .btn{
	background-color: #cc0013;
    border-color: #cc0013;
}
.bg-light {
    background-color: #c79090!important;
}
nav a,nav a:hover{
	color: black;
}
.container h1{
	margin-top: 20px;
	margin-bottom: 40px;
}
.layout{
	position: relative;
	margin-bottom: 80px;
}
.layout label{
font-size: 18px;
}
.layout button{
	position: absolute;
	right: 100px;
	margin-top: 10px;
}
.msg{
	margin: 40px;
	margin-left: 50px;
	padding: 5px;
	font-weight: bold;
	border-left: 5px solid green;
	width: 400px;

}
.fail{
	border-left: 5px solid red;
}
.formEditor input{
	width: 300px;
}
/*.manage{
	position: relative;
}*/
.manage .moreOptions,
.managecat .moreOptions{
	float: right;
	right: 10px;
	margin-bottom: 25px;
	margin-right:10px;
}
.managecat .moreOptions{
	margin-bottom: 30px;
}
.manage .moreOptions a,
.managecat .moreOptions a{
	color: #bf505c;
}
.manage .moreOptions a:hover,
.managecat .moreOptions a:hover{
text-decoration: none;
color:#e13346;
}
.manage table{
 table-layout: fixed ;
  width: 100% ;
}
.manage table td,
.manage table th{
  width: 25% ;
}
.manage table th a,
.manage table thead{
  color:black;
}
.layout{
	margin-left: 100px;
	padding-left: 20px;
	border-left: 1px solid black;
}
.adddiv a{
    text-decoration: none;
    color:#e13346;
}
.manage table thead{
	background-color: #d48291;
	font-size: 18px;
}
.manage table tbody{
	background-color:#f1f1f1;
}
.manage table tbody tr{
	border-bottom:2px solid #c18998;
}
.manage table td{
	font-size: 18px;
}
.manage table td a{
	text-decoration: none;
}
.manage table td .someItems{
	color: black;
}
.manage table td .optionEditors{
	width: 60px;
	padding:1px 2px 1px 2px;
	font-size: 15px;
}
.manage table td .optionEditors{
	width: 60px;
	padding:1px 2px 1px 2px;
	font-size: 15px;
}
.manage table td .btn-link{
	color: black;
	font-size: 18px;
}

/* start  category */
/* end  category */
/*start card category */
.managecat .card{
	width:100%;
	border: 0px;
	border-top:1px solid black;
	border-bottom:1px solid black;
}
.managecat .card .card-header{
	background-color: #eac4c4;
} 
.managecat .card .card-body{
	background-color:#f8f8f8 ;
}
.managecat .card .btn{
   text-decoration: none;
   color: black;
   font-size: 18px;
}
.managecat .card .btn:hover{
   font-weight: bold;
}
.managecat .hide .card-header{
	background-color: #fff;
}
.managecat .hide .card-body{
	background-color: #e7e7e;
}
.managecat .catOptions{
	float: right;
}
.managecat .catOptions a{
	text-decoration: none;
    color: #515050;
    font-size: 18px;
}
.managecat .catOptions a:hover{
    color: #e13346;
}
.managecat .catEditeDelete{
	margin-top: 10px;
}
.managecat .catEditeDelete .editcat{
	color: #34afe7;
}
.managecat .catEditeDelete .deletecat{
	color: #f05353;
}

.card .card-body .catviscomadd .Invis{
	color: #484343;
}
.card .card-body .catviscomadd .noComm{
	color: #e73535;
}
.card .card-body .catviscomadd .noAdds{
	color: #4f4fe6;
}
/*end card category */
/*start showItem */
.showItem{
	margin: 100px auto;
	width: 800px;
	position: relative;
}
.showItem .infoItem{
	color: #424141;
}
.showItem .optinItem{
   
}
.itemsShow .showItem img{
     margin: auto;
}
.showItem .media-body{
    padding-left: 20px;
	border-left: 1px solid black;
}
.itemsShow a{
	text-decoration: none;
}
.itemsShow .editItem{
   color: #34afe7;
}
.itemShow .optinItem .approveIt{
	color: #4fb71b;
}
.itemsShow .red{
    color: #e13346;
}
